/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    height: 100%;
    max-height: 600px;
    /* width: 1000px; */
    background-color: hsla(200, 40%, 30%, .4);
    background-image:
        url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
        url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position:
        0 20%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
    background-size:
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 50s para infinite linear;
}

@keyframes para {
    100% {
        background-position:
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
    }
}

.text-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container h1 {
    margin: 0;
    /* font-size: 150px; */
    color: rgba(5, 250, 78, 0.01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 40s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes animate {
    0%, 100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}




header {
    /* background-color: #000000; */
    color: #fff;
    padding: 20px 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Vlog{
    text-align: center;
    font-family: roboto;
    font-weight: 500;
    font-size: 35px;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    /* padding: 0; */
    /* display: flex; */
    /* margin: 0; */
    font-size: 64px;
    color: rgba(5, 250, 78, 0.01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 40s ease-in-out infinite;
    /* text-align: center; */
    text-transform: uppercase;
    font-weight: 900;
}

section {
    text-align: justify;
    padding: 0 2em 2em;
    margin-top: 54vh;
    font-family: roboto;
    background-color: #027900;
    color: #fff;
    width: 100%;
    /* font-size: 24px; */
    /* margin-bottom: 10px; */
    text-align: center;
    /* text-align: justify; */
    /* padding: 0 2em 2em; */
    /* margin-top: 54vh; */
    /* font-family: roboto; */
    /* background-color: #027900; */
    /* color: #fff; */
    /* width: 100%; */

}

section h2 {}

section p {}


.text {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin: 20px 0;
    font-style:

}


a {
    text-decoration: none;
    /* color: #ffffff; */
}

/* content section */


/* 
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content {
    background-color: #027900;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .content h1 {
text-align: center;
  }
  
  .content p {
    margin-bottom: 15px;
  }
  
  .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
  } */
/*   
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  } */
  
  /* Responsive Styles */
  
  /* @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .content h2 {
      font-size: 20px;
    }
  } */



  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .vlog-section {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-gap: 20px;
  }
  
  .vlog-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .vlog-thumbnail iframe {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    border: none;
  }
  
  .vlog-details h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .vlog-details p {
    margin-bottom: 10px;
  }
  
  .watch-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }




nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    margin: 0;
    /* font-size: 150px; */
    color: rgba(5, 250, 78, 0.01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 40s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: 2px 2px 2px #fff; */
    padding-right: 5vw;

}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    list-style: none;
    /* margin: 0; */
    font-style: "roboto";
}

nav ul, nav:active ul {}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        margin-bottom: 10px;
    }

    nav ul.menu {
        margin-top: 10px;
    }

    nav ul.menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}



/* footer starts here */

footer {
    background-color: #000000;
    padding: 3em 4em 2em;
    /* position: fixed; */
    position: relative;
    bottom: 0;
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    width: 100%;
    /* max-height: 700px; */
    /* display: ; */
    /* background-color: #ed7f7f; */
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

footer .logo {
    color: #fff;
    font-size: 28px;
    font-family: roboto;
}

/* footer .logo:after{
    top: 21px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;
    background: #fff;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
} */

footer .row {
    margin: 0.2em 0;
    font-family: lato;
    color: #fff;

    border-bottom: 1px solid #cecece;
}

footer ul {
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer ul li {
    list-style-type: none;
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    line-height: 2;
}

footer, #newsletter span {
    font-size: 20px;
}


.footer-cat-links a {

    color: #ffffff;
    /* text-decoration: none; */
    /* list-style: none; */
    position: relative;
    font-size: 20px;
    font-family: roboto;
    text-transform: uppercase;
}


.footer-cat-links.active>li a {
    pointer-events: auto;
}

.footer-cat-links a:after {
    top: 21px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;
    background: #fff;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer-cat-links a:hover:after, .footer-cat-links a:focus:after {
    width: 100%;
    left: 0;
}



.copyright {
    text-align: center;
    color: #fff;
    font-family: lato;
    margin: 0%;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}



.col-3 {
    display: inline-table;
    width: 20%;
}































ha{
/* 
.col-6 {
    width: 50%;
    display: inline-table;
}



input#subscriber-email {
    width: 50%;
    outline: none;
    padding: 8px;
    background: #212121;
    border: 1px solid #cecece;
    color: #cecece;
    border-radius: 4px 0px 0px 4px;
}

input#btn-scribe {
    width: 30%;

}

input#subscriber-email::-webkit-input-placeholder {
    color: rgb(202, 196, 196);
}

input#subscriber-email:-ms-input-placeholder {
    color: #cecece;
}

input#subscriber-email::-ms-input-placeholder {
    color: #cecece;
}

input#subscriber-email::placeholder {
    color: #cecece;
} */


/* 

.col-3#newsletter #btn-scribe {
    margin-left: -4px;
    border: 1px solid #cecece;
    border-radius: 0px 4px 4px 0;
    padding: 8px 5px;
    background-color: #e2e2e2;
    color: #212121;
    cursor: pointer;
}

.social-2 {
    display: none;
}

.social-links {
    bottom: 44px;
    position: absolute;
    left: 0;
}

.social-links a {
    color: #fff;
    font-size: 20px;
    border: 1px solid;
    border-radius: 20px;
    padding: 6px;

    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.social-links a:not(:last-child) {
    margin-right: 10px;
}

.social-links a:hover, .social-links a:focus {
    background-color: #212121;
}

.social-links a i {
    width: 25px;
    height: 25px;
    text-align: center;
}

#newsletter #address li:not(:first-child) {
    padding: 20px 0;
}

#newsletter #address li i {
    font-size: 45px;
    width: auto;
    padding: 5px;
}

#newsletter #address li div {
    color: #cecece;
    font-size: 14px;
    width: 80%;
    text-align: left;
    float: right;
    line-height: 1.3; */
}


/* video section starts here */

/* .video-section {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.video-frame {
    position: relative;
    width: 80vw;
    text-align: center;
    padding-bottom: 56.25%;
    height: 40vw;
    margin: 0 auto; 
    overflow: hidden;
    background-color: #000000;  */
/* 16:9 aspect ratio (change as needed) */

/* } */

/* .video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-frame iframe::-webkit-media-controls {
    display: none;
    Hide default video controls
} */